body {
  background-color: #e5e5e5;
  margin: 0px;
  font-family: sans-serif; }

#header {
  color: white;
  background-color: #006666;
  padding: 1px;
  text-align: center;
  text-shadow: 1px 1px 5px #c7d8d8; }

#content {
  width: 600px;
  margin: 0px auto;
  text-align: center; }
  #content h2.section_title {
    margin: 0px;
    width: 600px;
    background-color: #008c8c;
    color: white;
    padding: 5px 0px;
    margin-bottom: 10px;
    font-size: 20px;
    text-shadow: 1px 1px 5px #c7d8d8; }
  #content #buttons_block {
    width: 498px;
    padding-bottom: 30px;
    margin: 0px auto; }
    #content #buttons_block #clock {
      height: 160px;
      float: left;
      margin: 0px 10px; }
    #content #buttons_block #buttons {
      height: 160px;
      float: left; }
      #content #buttons_block #buttons #main_button input {
        font-size: 30px;
        width: 348px;
        height: 120px; }
      #content #buttons_block #buttons #secondary_buttons form {
        display: inline;
        padding: 0px;
        margin: 0px; }
        #content #buttons_block #buttons #secondary_buttons form input {
          display: inline;
          width: 110px;
          height: 35px;
          margin: 5px 2px; }
  #content #history {
    background-color: #e5e5e5; }
    #content #history table.history {
      font-size: 13px;
      border-collapse: collapse;
      margin: 0px auto 15px auto; }
      #content #history table.history th {
        font-size: 16px; }
      #content #history table.history th, #content #history table.history td {
        white-space: nowrap;
        padding: 2px 10px; }
      #content #history table.history td.negative {
        color: crimson; }
      #content #history table.history td.positive {
        color: darkGreen; }
      #content #history table.history td.neutral {
        color: navy; }
      #content #history table.history td.future {
        color: #535353; }
    #content #history table.history.monthly, #content #history table.history.weekly {
      width: 350px; }
      #content #history table.history.monthly th.title, #content #history table.history.weekly th.title {
        width: 80px;
        border-width: 0px;
        font-variant: small-caps;
        font-size: 18px; }
      #content #history table.history.monthly th.date, #content #history table.history.weekly th.date {
        border-color: white;
        border-style: solid;
        border-width: 1px;
        font-size: 13px; }
      #content #history table.history.monthly td.balance, #content #history table.history.weekly td.balance {
        width: 80px;
        font-family: monospace;
        text-align: right;
        background-color: #f0f0ee;
        border-color: white;
        border-style: solid;
        border-width: 1px 0px 1px 1px; }
    #content #history table.history.daily {
      width: 500px; }
      #content #history table.history.daily td, #content #history table.history.daily th {
        border-color: white;
        border-style: solid;
        border-width: 1px; }
      #content #history table.history.daily th, #content #history table.history.daily td.balance {
        background-color: #f0f0ee; }
      #content #history table.history.daily td {
        font-family: monospace; }
      #content #history table.history.daily th {
        font-variant: small-caps; }
