-content_for :title do
  -'Login'
-content_for :assets do
  =stylesheet_link_tag 'forms.css'
  =stylesheet_link_tag 'login.css'

.flash=[:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join
-form_tag(url(:index, :create_session)) do
  .field-line{:data => {:role => :fieldcontain}}
    =label_tag :login, :caption => 'Login: '
    =text_field_tag :login, :value => params[:login]
  .field-line{:data => {:role => :fieldcontain}}
    =label_tag :password, :caption => 'Senha: '
    =password_field_tag :password, :value => params[:password]
  .buttons-line{:data => {:role => :fieldcontain}}
    =submit_tag 'Fazer login', 'data-inline' => true

#links
  =link_to 'Esqueci minha senha', url(:account, :forgot_password), :if => false
  ||
  =link_to 'Quero me cadastrar', url(:account, :new)
  %br
  =link_to 'Sobre o <em>Ponto Pessoal</em>', url(:index, :about)