-content_for :title do
  -'Login'
-content_for :assets do
  =stylesheet_link_tag '/stylesheets/login.css'

%h2
  =image_tag 'calendar_clock.png'
  Ponto Pessoal

.flash=[:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join
-form_tag(url(:index, :create_session)) do
  .field-line{:data => {:role => :fieldcontain}}
    =label_tag :login, :caption => 'Login: '
    =text_field_tag :login, :value => params[:login]
  .field-line{:data => {:role => :fieldcontain}}
    =label_tag :password, :caption => 'Senha: '
    =password_field_tag :password, :value => params[:password]
  .buttons-line{:data => {:role => :fieldcontain}}
    =submit_tag 'Fazer login', 'data-inline' => true