%table.history.monthly
  %tr
    %th.title{:rowspan => 3}Mensal
    %th.date 01/jul ~ 31/jul
    %td.balance.negative -10h
  %tr
    %th.date 01/Ago ~ 31/ago
    %td.balance.positive +7h
  %tr.current
    %th.date 01/Set ~ 11/Set
    %td.balance.positive +45min
  %tr.balance
    %td
    %td
    %td.balance.negative -2h15min