%table.history.weekly
  %tr
    %th.title{:rowspan => 3}Semanal
    %th.date 28/ago ~ 03/Set
    %td.balance.negative -1h
  %tr
    %th.date 04/Set ~ 10/Set
    %td.balance.positive +2h
  %tr.current
    %th.date 11/Set ~ 17/Set
    %td.balance.neutral 0h
  %tr.balance
    %td
    %td
    %td.balance.positive +1h