%table.history.monthly
  %tr
    %th.title{:rowspan => 3}Mensal
    %th 01/jul ~ 31/jul
    %td.negative -10h
  %tr
    %th 01/Ago ~ 31/ago
    %td.positive +7h
  %tr.current
    %th 01/Set ~ 11/Set
    %td.positive +45min
  %tr
    %td
    %td
    %td.balance.negative -2h15min