%table.history.daily
  %thead
    %tr
      %th
      %th Entrada
      %th Almoço
      %th Saída
      %th Saldo
  %tbody
    %tr
      %th Seg
      %td 9h
      %td 12h ~ 13h
      %td 19h
      %td.balance.positive 9h / 8h
    %tr
      %th Ter
      %td 10h30
      %td 12h30 ~ 13h30
      %td 18h30
      %td.balance.negative 15h30 / 16h
    %tr
      %th Qua
      %td ---
      %td ---
      %td ---
      %td.balance.future +8h10 / 24h
    %tr
      %th Qui
      %td ---
      %td ---
      %td ---
      %td.balance.future +8h10 / 32h
    %tr
      %th Sex
      %td ---
      %td ---
      %td ---
      %td.balance.future +8h10 / 40h