%table.history.daily
  %thead
    %tr
      %th
      %th Entrada
      %th Almoço
      %th Saída
      %th Saldo
  %tbody
    %tr
      %th Seg
      %th 9h
      %th 12h ~ 13h
      %th 19h
      %th.balance.positive 9h / 8h
    %tr
      %th Ter
      %th 10h30
      %th 12h ~ 13h
      %th 18h
      %th.balance.negative 15h30 / 16h
    %tr
      %th Qua
      %th ---
      %th ---
      %th ---
      %th.balance.future +8h10 / 24h
    %tr
      %th Qui
      %th ---
      %th ---
      %th ---
      %th.balance.future +8h10 / 32h
    %tr
      %th Sex
      %th ---
      %th ---
      %th ---
      %th.balance.future +8h10 / 40h