-days = ['Seg','Ter','Qua','Qui','Sex']

%table.history.daily
  %thead
    %tr
      %th
      %th Entrada
      %th Almoço
      %th Saída
      %th Saldo
      %th Balanço
  %tbody
    -week_balance = {:hour => 0, :min => 0}
    -5.times do |d|
      -day = @this_week[d] || Workday.new
      -week_balance[:hour] += day.balance[:hour]
      -week_balance[:min] += day.balance[:min]
      -if week_balance[:min] >= 60
        -week_balance[:hour] += 1
        -week_balance[:min] -= 60
      -balance_status = case day.balance[:hour]
        -when 0...8 then :negative
        -#-when 8 then if day.balance[:min] == 0 then :neutral else :positive end
        -else :positive
      %tr
        %th=days[d]
        %td=day[:enter] || '---'
        %td
          -if !day[:go_lunch].nil? && !day[:back_lunch].nil?
            =day[:go_lunch]+' ~ '+day[:back_lunch]
          -else
            ='---'
        %td=day[:out] || '---'
        %td.balance{:class => balance_status}
          ='%d:%02d' % [day.balance[:hour], day.balance[:min]]
        %td.balance{:class => balance_status}
          ='%d:%02d / %dh' % [week_balance[:hour], week_balance[:min], (8*(d+1))]



-#    %tr
-#      %th Sex
-#      %td ---
-#      %td ---
-#      %td ---
-#      %td.balance.future +8h10 / 40h