-content_for :title do
  -'Hoje, '+Time.now.strftime(settings.full_date_no_seconds)

%h2.section_title Marcar ponto
#buttons_block
  %img#clock{:src => '/images/old_machine.png'}
  #buttons
    =button_to @likely_button[:label], url(:workday, :set, :status => @likely_button[:status]), :method => :post, :id => :main_button
    #secondary_buttons
      -@other_buttons.each do |button|
        =button_to button[:label], url(:workday, :set, :status => button[:status]), :method => :post
  %br{:clear => :all}

%h2.section_title Saldos
#history
  =partial 'workday/history_monthly'
  =partial 'workday/history_weekly'
  =partial 'workday/history_daily'