-content_for :title do
  -'Hoje, '+Time.now.strftime(settings.full_date_no_seconds)

#buttons
  =button_to @likely_button[:label], url(:workday, :set, :status => @likely_button[:status]), :method => :post
  #secondary_buttons
    -@other_buttons.each do |button|
      =button_to button[:label], url(:workday, :set, :status => button[:status]), :method => :post

#history
  =partial 'workday/history_monthly'
  =partial 'workday/history_weekly'
  =partial 'workday/history_daily'