=f.label 'Nome'
=f.text_field :name
=f.error_message_on :name

=f.label 'E-mail'
=f.text_field :email
=f.error_message_on :email

=f.label 'Login'
=f.text_field :login
=f.error_message_on :login

=f.label 'Senha'
=f.password_field :password
=f.error_message_on :password

=f.label 'Repita a senha'
=f.password_field :password_confirmation
=f.error_message_on :password_confirmation

=f.submit 'Cadastrar'