!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title
      Ponto Pessoal - #{yield_content :title}
    =stylesheet_link_tag 'main.css'
    =javascript_include_tag settings.jquery_root+'jquery-1.6.1.min.js'
    =yield_content :assets

  %body
    #header
      %h1
        =image_tag 'calendar_clock.png'
        =greeting ((!current_account.nil?)? current_account.name : nil)
    #content
      -if current_account.nil? || (defined?(@show_title) && @show_title)
        %h2#main_title
          Ponto Pessoal
      =yield